/* testing */
#testing {
  width: 100vh;
  height: 100vh;
  background-color: #297ea6;
  color: white;
  font-size: 200px;
}

a:hover {
  cursor: pointer;
}

/* global */
::-webkit-scrollbar {
  width: 0;  
}

body{
  background-color: #001829;
  overflow-x: hidden;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner {
  background: transparent; 
}

.no-scroll {
  overflow: hidden;
}


.fs {
  width: 100vw;
  height: 100vh;
}

.hide {
  visibility: hidden;
  z-index: -1;
  position: absolute;
}

.hidden-up {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(50px);
}

.visible-greeting {
  transform: translateY(0px);
  opacity: 1 !important;
  transition: all 0.5s ease-in-out;
}

.df-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes using {
  from {
    color: white;
    transform: translateY(-5px);
  } to {
    transform: translateY(5px);
  }
}

.background-db {
  background-color: #001829;
}

.color-highlight {  
  animation: using 1s infinite alternate;
  /* color: white !important; */
}


/* hero */

#hero-container {
  position: absolute;
}

#greeting-container {
text-align: center;
margin: 30vh auto;
font-size: 65px;
color: white;
display: flex;
flex-direction: column;
z-index: 7;
line-height: 1.2em;
text-shadow: 0 0 3px 3px white;
  #i-live-div{
    margin-top: 15px;
  }

}

#arrows-container {
  margin-top: 45vh;
  z-index: 20;
  position: absolute;
}

#greeting-container p {
  margin: 0 auto;
}

#down-arrow {
width: 40px;
margin-top: 1em;
animation: bounce 1s infinite alternate;
z-index: 30;
}

#down-arrow:hover {
  cursor: pointer;
}

/* FramerHero */

#parallax-page-1 {
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #297ea6;
}


.parallax-layer {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
}

#layer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* navbar */

#navbar {
  z-index: 99;
  position: fixed;
  max-height: 150px;
  max-width: 2000px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  max-height: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

#navbar-right {
  display: flex;
  justify-content: center;
}

.navbar-link-icon {
  font-size: 50px;
  margin: 20px;
  color: white;
}

/* LoadingScreen */

#loading-screen {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #297ea6;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#loading-screen.loading {
  opacity: 1;
}

#loading-text {
  position: absolute;
  text-align: center;
  margin-top: 40vh;
  color: aliceblue;
  font-size: 70px;
  animation: bounce 1s infinite alternate;
}

.loaded {
  transform: translateY(-100%); 
}


/* page 2 */

#parallax-page-2 {
  background-color: #001829;
  z-index: 21 ;
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
}

#skills-layer {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

#skills-layer div {
  margin: 2em 0;
}

#skills-title{
  width: 800px;
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 2vw auto;
}


#icons-container {
  border: 4px solid #297ea6;
  width: 70vw;
  max-width: 1800px;
  margin: 0 auto;
  height: 80px;
  border-radius: 40px;
  background-color: #332a5a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

#icons-container > * {
  font-size: 60px;
  margin: auto 0;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

#js-icon {
  color: #f7e018;
}

#php-icon {
  color: #8892bf;
}

#docker-icon {
  color: #1f97ee;
}

#react-icon {
  color: #61dbfb;
}

#sql-icon {
  color: 
  #668da6;
}

#symfony-icon {
  color: 
  #444444;
}

#nodejs-icon {
  color: 
  #a1c49f;
}

#mongodb-icon {
  color: #13aa52;
}

#skills-container {
  width: 70vw;
  max-width: 1800px;
  margin: 0 auto;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#description-youtube-container {
  border: 4px solid #297ea6;
  width: 60vw;
  max-width: 1800px;
  margin: 0 auto;
  height: 400px;
  border-radius: 40px;
  background-color: #332a5a;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 #youtube-box {
  width: 48%;
  height: 100%;
  margin: 0 !important;
}

#description-box {
  width: 48%;
  height: 90%;
  margin: auto;
  font-size: 1.2em;
  color: #5cc7fc;
  white-space: pre-line;
  text-align: center;
  line-height: 1.1em;
  del {
    text-decoration: line-through;
  }
  #description {
    height: 80%;
  }

  #links {
    height: 20%;
    width: 100%;
    color: #1f97ee;
    text-decoration: underline;
    text-align: center;
    display: flex;
    flex-direction: column;
    a {
      margin-top: auto;
      color: #23d86e;
      :hover {
        color: #61dbfb;
      }
    }
  }
}

.description-title {
  font-size: 1.2em;
}


#button-left, #button-right {
  width: 5vw;
  display: flex;
  a { font-size: 50px; margin: auto; color: #332a5a; 
    transition: all 0.3s ease-in-out;
  :hover {
    cursor: pointer;
    color: #39c0ff;
    transition: all 0.3s ease-in-out;
  }
  :active {
    cursor: pointer;
    color: #332a5a !important;
    transition: all 0s ease-in-out;
  }}
}

.project-slider {
  width: 0;
  height: 100%;
  border-radius: 40px;
  background-color: #b0235f;
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.project-next {
  width: 100%;
  left: 0 !important;
  transition: all 0s !important;
}

#arrows-container2 {
  width: 100%;
  height: fit-content;
  z-index: 20;
  display: flex;
  margin-top: -9vh;  
  #down-arrow2 {
    width: 40px;    
    z-index: 30;
    animation: bounce 1s alternate infinite;

  }
}

#down-arrow2:hover {

    cursor: pointer;
}

#spacer2 {
  height: 15vh;
  position: relative;
  background-color: #001829;
}

/* page 3 */

#page-3 {
position: relative;
display: flex;
}

#about-me-left {
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #39c0ff;
  justify-content: space-between;
}

#about-me-right {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#about-me-me {
  color: #39c0ff;
  font-size: 3.5em;
  font-weight: 800;
  text-align: start;
  margin-left: 0.5em;
  margin-bottom: 140px;

}

#about-about {
  color: #001829;
  font-size: 3.5em;
  font-weight: 800;
  text-align: end;
  margin-right: 0.5em;
  margin-bottom: 40px;
}

.about-me-text-box-left {
  height: 30vh;
  width: 30vw;
  border-radius: 40px;
  margin-left: 50%;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: #332a5a;
  color: #39c0ff;
  display: flex;
  justify-content: right;
  align-items: center;
  box-shadow: 0px 0px 10px 3px #001829;

  p {
    text-align: end;
  }
}

.about-me-inner-text {
  height: 85%;
  width: 85%;
  font-size: 1.3em;
  display: flex;
  margin: auto;
  align-items: center;
  font-style: italic;
}

.about-me-subtitle-left {
  height: 30vh;
  width: 30vw;
  border-radius: 40px;
  margin-left: 50%;
  color: #001829;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-subtitle-right {
  height: 30vh;
  width: 30vw;
  border-radius: 40px;
  margin-left: 18%;
  color: #39c0ff;
  font-weight: bolder;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-text-box-right {
  height: 30vh;
  width: 30vw;
  border-radius: 40px;
  margin-left: 18%;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: #332a5a;
  color: #39c0ff;
  display: flex;
  justify-content: right;
  box-shadow: 0px 0px 10px 3px #39c0ff;


  p {
    text-align: start;
  }
}

#page-4 {
  align-items: center;
  justify-content: center;
}

#page-4-text {
  color: white;
  font-size: 60px;
  text-align: center;
}